[submodule "LeExtension"]
	path = LeExtension
	url = https://github.com/bodlasahith/LeExtension.git
[submodule "LeExtensionTheme"]
	path = LeExtensionTheme
	url = https://github.com/bodlasahith/LeExtensionTheme.git
